body {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 0.85rem; */
    font-size: 13px;
    line-height: 19px;

    margin: 0;    
}

main {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;

    background: url("img/sea-stars.jpg") no-repeat; 
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    position: absolute;
    padding: 21px 0 30px 14px;
    /* max-height: 100vh; */
}


.column {
    background-color: #DFE3E6;
    width: 272px;
    max-height: 100%;
    margin: 0 6px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    /* overflow: hidden; */
}

.column-header {
    word-wrap: break-word;
    /* font-size: 0.85rem; */
    font-size: 13px;
    margin: 8px 12px 13px;
}

.cards-list {
    list-style: none;
    padding: 0 12px;
    margin: 0;
    overflow: auto; 
    /* overflow-y: scroll; */
    scrollbar-width: none; /* для Firefox */
    -ms-overflow-style: none; /* для IE 10+ */
}

.cards-list::-webkit-scrollbar { /* для WebKit */
    width: 0;
    height: 0;
}

.card {
    word-wrap: break-word;
    background-color: white;
    padding: 8px 12px;
    margin-top: 8px;
    box-shadow: 0px 1px 4px rgba(9, 46, 67, 0.251);
    border-radius: 3px;

    cursor: default;
}

.card:first-child {
    margin-top: 0;
}

.card:last-child {
    margin-bottom: 3px;
}
/* 
.del-item {
   
}

.del-item:focus,
.card:hover .del-item{
    background: url("icons/trash.svg");
    opacity: 0.5;
    
    background-size: 14px;
    width: 14px;
    height: 14px;
    padding: 0;
    margin-left: 5px;
    
    position: relative;
    top: 4px;
}

.del-item:focus,
.del-item:hover {
    opacity: 1 !important;
} */

.card-on-drag {
    transform: rotate(5deg);
    list-style: none;
}

.card-drop-place {
    background-color: #C9D2D9;
    box-shadow: none;
}


.controls {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

button:not(.tab-is-active),
textarea:not(.tab-is-active),
input:not(.tab-is-active) {
    outline: none;
}


.add-card,
.add-column {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;

    padding: none;
    background-color: #DFE3E6;
    border-radius: 3px;
    color: #6B808C;
    border: none;
}

.add-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(icons/plus.svg) no-repeat center;
    background-size: 15px;

    position: relative;
    top: 3px;
    right: 6px;
}

/* .add-card::before, 
.add-column::before {
    content: url(icons/plus.svg);
    position: relative;
    top: 3px;
    right: 8px;
} */

.add-card:hover,
.add-column:hover {
    background-color: #bfc8cf;
}

.add-card {
    /* padding: 0px 28px 0px 8px; */
    width: 100%;
    padding: 6px 20px 12px 0px;
    margin-top: 3px;
}

.input-card-form {
    padding: 4px 12px 12px;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.input-card,
.input-column {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
    box-sizing: border-box;
    padding: 8px 12px;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    border: none;
    outline: none;
}

::placeholder {
    color: #B8B9BB;
}

.input-card {
    display: block;
    height: 48px;
    max-height: 300px;
    resize: none;
    /* margin-bottom: 4px; */
}

.input-column {
    margin-top: 7px;
}


.confirm-add-card,
.confirm-add-column{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;
    
    padding: 7px 8px 5px;
    background-color: #39C071;
    border-radius: 3px;
    color: white;
    border: none;
    transition: all 0.1s;
}

.confirm-add-card:hover,
.confirm-add-column:hover {
    background-color: #3aaa69;
}

.discard-add-card,
.discard-add-column {
    display: inline-block;
    align-self: center;
    padding: 5px; 

    background: url(icons/x-black.svg) no-repeat center; 
    opacity: 0.5;

    width: 15px;
    height: 15px;
    background-size: 15px;
    border: none;
    
    transition: all 0.1s;
}

.discard-add-card:hover,
.discard-add-column:hover {
    opacity: 1;
    border-radius: 3px;
}

.add-column {
    width: 272px;
    height: 43px;
    margin: 0px 6px;
    padding-left: 18px;
    text-align: left;

    flex: 0 0 auto;
}


.invisible {
    display: none;
}



.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-add-card {
    font-size: 3em;
    color: red;
    opacity: .6;
}